@model AuthApp.Models.Register
@{
    ViewData["Title"] = "Register";
}
<form asp-controller="account" asp-action="register">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" class="form-control">

    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control">

    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control">

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" class="form-control">
    
    <input type="submit" value="Register" class="btn btn-primary">
</form>